<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516153415128-9dq1a1id5ad4hngoviddg4m4amk8tnup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516153415128-9dq1a1id5ad4hngoviddg4m4amk8tnup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>516153415128-nb1pq6ihh6b0tti500p85noh1rqtbdmf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBnR04lm2v0QlSymFkl5k3xn_glijDJUw</string>
	<key>GCM_SENDER_ID</key>
	<string>516153415128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.engazApp</string>
	<key>PROJECT_ID</key>
	<string>engaz-app-2</string>
	<key>STORAGE_BUCKET</key>
	<string>engaz-app-2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516153415128:ios:85d58b6b0ec019d6518ead</string>
</dict>
</plist>